

.imgs{
background-size:cover;
background: linear-gradient(rgba(14, 15, 24, 0.774),rgba(33, 28, 46, 0.918)), url("../pages//images/bgimg2.jpg");
background-repeat:no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;

height:85vh;

position:relative;
}
.zindex{
    position:absolute;
    z-index: 2;
    margin-top: 200px;
    color: rgb(245, 240, 240);
    font-size: 70px;
    margin-left: 450px;
    
}